# Regular Expression

In [2]:
# Regular Expression in Python is used to Preprocess the data
# RE is in built library of Python
# which is used to search a specific pattern from the text
# and also used to check wheather the string contain any specific pattern

In [3]:
import re

In [4]:
txt = "Python is a Programming Language."
print(txt)

Python is a Programming Language.

In [5]:
print(re.search("^Python.*Language.$",txt))

<re.Match object; span=(0, 33), match='Python is a Programming Language.'>

In [6]:
# Checking Pattern
pt = re.findall("^P",txt)
if pt:
    print("Yes")
else:
    print("No")

Yes

In [7]:
print(re.findall("[A-Z]",txt))

['P', 'P', 'L']

In [8]:
print(re.findall("[a-z]",txt))

['y', 't', 'h', 'o', 'n', 'i', 's', 'a', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', 'a', 'n', 'g', 'u', 'a', 'g', 'e']

In [9]:
print(re.findall("^[A-Z]",txt))

['P']

In [10]:
data = "TZ1001, Syed Rahman, 24, 8374316403"

In [11]:
print(re.findall("[0-9]",data))

['1', '0', '0', '1', '2', '4', '8', '3', '7', '4', '3', '1', '6', '4', '0', '3']

In [14]:
print(re.findall("[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]",data))

['8374316403']

In [15]:
type(data)

str

In [18]:
print(re.split(",",data))

['TZ1001', ' Syed Rahman', ' 24', ' 8374316403']

In [19]:
txt

'Python is a Programming Language.'

In [21]:
print(re.sub("Python","Java",txt))

Java is a Programming Language.

In [22]:
txt = "Python is a Programming Language. Python is used to create Mobile Application."

In [23]:
txt

'Python is a Programming Language. Python is used to create Mobile Application.'

In [24]:
print(re.sub("Python","Java",txt))

Java is a Programming Language. Java is used to create Mobile Application.

In [25]:
print(re.subn("Python","Java",txt))

('Java is a Programming Language. Java is used to create Mobile Application.', 2)

In [28]:
email = input("Enter Valid Email!: ")

Enter Valid Email!: 9283tghire

In [29]:
email

'9283tghire'

In [32]:
# Creating a program which takes valid emails from the users
email = input("Enter Valid Email!: ")

if "@" in re.findall('[^a-zA-Z0-9]',email) and "." in re.findall('[^a-zA-Z0-9]',email):
    print("Thank You For Entering Email!")
else:
    print("Enter a Valid Email!")

Enter Valid Email!: srhussayn@gmail.com
Thank You For Entering Email!

In [35]:
import pandas as pd
df = pd.read_csv("A:/Data Anlayst Course/Datasets/cds.csv")
df.head()

,Dates,Year,SalesPerson,Gender,Location,Product,Sales,Units,CostPerUnit,M Cost,Profit/Loss
0,01-01-2015,2015,Mahesh Raju,Male,New Zealand,70% Dark Bites,1624,114,14.49,1651.86,-27.86
1,02-01-2015,2015,Siddhart Singh,Male,USA,Choco Coated Almonds,6706,459,8.65,3970.35,2735.65
2,03-01-2015,2015,Hussain Abdul,Male,USA,Almond Choco,959,147,11.88,1746.36,-787.36
3,04-01-2015,2015,Simran Prakash,Female,Canada,Drinking Coco,9632,288,6.47,1863.36,7768.64
4,05-01-2015,2015,Vishnu Advani,Male,UK,White Choc,2100,414,13.15,5444.10,-3344.10

In [37]:
df_ = df[['SalesPerson',"Gender","Location",'Product',"Sales"]]
df_.head()

      SalesPerson  Gender     Location               Product  Sales
0     Mahesh Raju    Male  New Zealand        70% Dark Bites   1624
1  Siddhart Singh    Male          USA  Choco Coated Almonds   6706
2   Hussain Abdul    Male          USA          Almond Choco    959
3  Simran Prakash  Female       Canada         Drinking Coco   9632
4   Vishnu Advani    Male           UK            White Choc   2100

In [38]:
df_['Product'].unique()

array(['70% Dark Bites', 'Choco Coated Almonds', 'Almond Choco',
       'Drinking Coco', 'White Choc', 'Peanut Butter Cubes',
       'Smooth Sliky Salty', 'After Nines', '50% Dark Bites', 'Eclairs',
       'Mint Chip Choco', 'Milk Bars', 'Manuka Honey Choco',
       'Orange Choco', 'Fruit & Nut Bars', '99% Dark & Pure',
       'Raspberry Choco', '85% Dark Bars', 'Organic Choco Syrup',
       'Caramel Stuffed Bars', 'Spicy Special Slims',
       "Baker's Choco Chips"], dtype=object)

In [39]:
df_["Product"]

0            70% Dark Bites
1      Choco Coated Almonds
2              Almond Choco
3             Drinking Coco
4                White Choc
               ...
295            Almond Choco
296     Baker's Choco Chips
297     Peanut Butter Cubes
298         Raspberry Choco
299              White Choc
Name: Product, Length: 300, dtype: object

In [40]:
# The product records starts with Choco
df_[df_["Product"].str.match("^Choco.*")==True]

        SalesPerson  Gender   Location               Product  Sales
1    Siddhart Singh    Male        USA  Choco Coated Almonds   6706
38      Sameer Khan    Male      India  Choco Coated Almonds   3262
46       Priya Ranu  Female  Australia  Choco Coated Almonds   5075
57    Abhinav Sinha    Male      India  Choco Coated Almonds   7777
61    Vishnu Advani    Male     Canada  Choco Coated Almonds   6118
98      Mahesh Raju    Male        USA  Choco Coated Almonds  12348
128   Sundar Prasad    Male     Canada  Choco Coated Almonds   6657
137  Siddhart Singh    Male  Australia  Choco Coated Almonds   3752
200  Simran Prakash  Female     Canada  Choco Coated Almonds  10304
220   Hussain Abdul    Male     Canada  Choco Coated Almonds   2954
221     Sameer Khan    Male     Canada  Choco Coated Almonds    280
253   Vishnu Advani    Male      India  Choco Coated Almonds   6734

In [41]:
# The product records Ends with Choco
df_[df_['Product'].str.match(".*Choco$")==True]

        SalesPerson  Gender     Location             Product  Sales
2     Hussain Abdul    Male          USA        Almond Choco    959
12    Hussain Abdul    Male    Australia     Mint Chip Choco   2646
15    Abhinav Sinha    Male          USA  Manuka Honey Choco   2114
17       Priya Ranu  Female        India        Orange Choco  15610
19     Dinesh Mehta    Male           UK        Orange Choco   9443
..              ...     ...          ...                 ...    ...
286   Vishnu Advani    Male       Canada  Manuka Honey Choco   1400
289   Abhinav Sinha    Male           UK  Manuka Honey Choco   3640
294     Sameer Khan    Male  New Zealand     Mint Chip Choco   4487
295   Abhinav Sinha    Male  New Zealand        Almond Choco    938
298  Simran Prakash  Female  New Zealand     Raspberry Choco    714

[66 rows x 5 columns]

In [42]:
# The product records that has Choco in product name
df_[df_['Product'].str.match("^.*Choco.*$")==True]

        SalesPerson  Gender     Location               Product  Sales
1    Siddhart Singh    Male          USA  Choco Coated Almonds   6706
2     Hussain Abdul    Male          USA          Almond Choco    959
12    Hussain Abdul    Male    Australia       Mint Chip Choco   2646
15    Abhinav Sinha    Male          USA    Manuka Honey Choco   2114
17       Priya Ranu  Female        India          Orange Choco  15610
..              ...     ...          ...                   ...    ...
291   Hussain Abdul    Male          USA   Organic Choco Syrup   2429
294     Sameer Khan    Male  New Zealand       Mint Chip Choco   4487
295   Abhinav Sinha    Male  New Zealand          Almond Choco    938
296   Abhinav Sinha    Male    Australia   Baker's Choco Chips   8841
298  Simran Prakash  Female  New Zealand       Raspberry Choco    714

[113 rows x 5 columns]

In [43]:
df_["SalesPerson"].unique()

array(['Mahesh Raju', 'Siddhart Singh', 'Hussain Abdul', 'Simran Prakash',
       'Vishnu Advani', 'Sameer Khan', 'Priya Ranu', 'Dinesh Mehta',
       'Abhinav Sinha', 'Sundar Prasad'], dtype=object)

In [46]:
# sales person records starts with p
df_[df_['SalesPerson'].str.contains("^[Pp].*")==True]

    SalesPerson  Gender     Location               Product  Sales
9    Priya Ranu  Female  New Zealand        50% Dark Bites   4991
17   Priya Ranu  Female        India          Orange Choco  15610
28   Priya Ranu  Female       Canada      Fruit & Nut Bars   6314
40   Priya Ranu  Female        India   Organic Choco Syrup   6986
46   Priya Ranu  Female    Australia  Choco Coated Almonds   5075
50   Priya Ranu  Female       Canada       Mint Chip Choco  16184
59   Priya Ranu  Female  New Zealand    Smooth Sliky Salty    182
67   Priya Ranu  Female          USA         Drinking Coco   2415
69   Priya Ranu  Female        India       99% Dark & Pure    861
74   Priya Ranu  Female        India    Manuka Honey Choco   2891
79   Priya Ranu  Female          USA       Raspberry Choco  13391
90   Priya Ranu  Female    Australia             Milk Bars   7189
103  Priya Ranu  Female          USA          Almond Choco   2744
110  Priya Ranu  Female           UK   Baker's Choco Chips   5236
132  Priya Ranu  Female       Canada               Eclairs   3339
134  Priya Ranu  Female  New Zealand           After Nines    518
138  Priya Ranu  Female          USA    Manuka Honey Choco   4480
156  Priya Ranu  Female        India       Raspberry Choco   7280
171  Priya Ranu  Female        India   Peanut Butter Cubes   1652
189  Priya Ranu  Female       Canada             Milk Bars   6146
202  Priya Ranu  Female       Canada        70% Dark Bites   1526
206  Priya Ranu  Female           UK         85% Dark Bars   4018
213  Priya Ranu  Female           UK           After Nines   6909
218  Priya Ranu  Female           UK         Drinking Coco    385
230  Priya Ranu  Female  New Zealand            White Choc   8813
231  Priya Ranu  Female       Canada         Drinking Coco   6111
236  Priya Ranu  Female    Australia       99% Dark & Pure   5474
255  Priya Ranu  Female        India           After Nines   6279
258  Priya Ranu  Female          USA           After Nines    490
278  Priya Ranu  Female          USA    Smooth Sliky Salty   4753
283  Priya Ranu  Female    Australia            White Choc   7483

In [47]:
df_[df_['SalesPerson'].str.contains(".*[Uu]$")==True]

     SalesPerson  Gender     Location              Product  Sales
0    Mahesh Raju    Male  New Zealand       70% Dark Bites   1624
5    Mahesh Raju    Male          USA  Peanut Butter Cubes   8869
9     Priya Ranu  Female  New Zealand       50% Dark Bites   4991
17    Priya Ranu  Female        India         Orange Choco  15610
28    Priya Ranu  Female       Canada     Fruit & Nut Bars   6314
..           ...     ...          ...                  ...    ...
267  Mahesh Raju    Male           UK      Raspberry Choco   5775
271  Mahesh Raju    Male          USA   Manuka Honey Choco   1617
278   Priya Ranu  Female          USA   Smooth Sliky Salty   4753
283   Priya Ranu  Female    Australia           White Choc   7483
285  Mahesh Raju    Male  New Zealand   Manuka Honey Choco   9002

[65 rows x 5 columns]